main{
    display: flex;
}
#f
{
    background-color: rgb(235, 190, 190);
    
    display: flex;
    
}
#h
{
    background-color: rgb(222, 168, 222);
    text-align: center;
    display: flex;
    
}